@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

$header-bg: rgb(1, 4, 9);
$main-bg: rgb(13, 17, 24);
$logo-bg: rgb(240, 243, 246);
$text-bg: #f0f3f6;
$header-left-icon: rgb(126, 135, 145);
$header-right-icon: #848d97;
$header-font-bg: #e6edf3;
$placeholder: #6e7681;
$icon-border: #4b4e53;
$link-clr: #2f81f7;
$font: "Noto Sans", Helvetica, Arial, sans-serif;
$my-font: "Maven Pro", sans-serif;

$hover: 1px solid;
